.footer {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: #727272;
          box-shadow: #727272;
}

p {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #6b6b6b;
}

h2 {
  text-align: center;
  color: #1b1b1b;
}

h3 {
  text-align: center;
}

h1 {
  color: #006d00;
  text-align: center;
}

.titulo_index {
  color: #000000;
}

.slap {
  width: 15rem;
}

.Slaphouse_index {
  color: #8b0000;
}

.bigroom_index {
  color: #ff7b00;
}

.Room {
  width: 15rem;
}

.techno_index {
  color: #2aac02;
}

.tech {
  width: 15rem;
}

.Deep {
  width: 50%;
}

div nav article h5 {
  color: #6b6b6b;
}

a {
  text-decoration: none;
}

.card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5%;
  background-color: #ffffff;
  width: 30rem;
}

.card image {
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


.footer__container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.footer{
  font-family: sans-serif;
  text-transform: capitalize;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.footer{
  background-color: #212121;
  padding: 80px 0;
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
}

.footer-links{
  width: 25%;
  padding: 0 15px;
}

.footer-links h4{
  font-size: 20px;
  color: #f0f0f0;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00C3FF;
  padding-bottom: 10px;
  display: inline-block;
}




/* ============================== MEDIA QUERIES ============================== */



/* ---------- MOBILE ----------  */
@media screen and (max-width: 500px) {
  body{
      background-color: red;
  }
}
/* ---------- TABLET ----------  */
@media screen and (min-width: 501px) and (max-width: 1100px) {
  body{
      background-color: blue;
  }
  .grid__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid__container img {
    margin-top: 5rem;
  }
  .grid__container iframe {
    display: none;
  }
}
/* ---------- DESKTOP ----------  */
@media screen and (min-width: 1101px) and (max-width: 1400px) {
  body{
      background-color: green;
  }
}
/* ---------- XXL ----------  */
@media screen and (min-width: 1401px) {
  body{
      background-color: orange;
      max-width: 1440px;
      margin: auto;
  } 
}
/* ========= MEDIA QUERIES =========== */
/* ---------- MOBILE ----------  */
@media screen and (max-width: 500px) {
  body{
      background-color: red;
  }
}
/* ---------- TABLET ----------  */
@media screen and (min-width: 501px) and (max-width: 1100px) {
  body{
      background-color: blue;
  } 
  .grid__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid__container img {
    margin-top: 5rem;
  }
  .grid__container iframe {
    display: none;
  }
}
/* ---------- DESKTOP ----------  */
@media screen and (min-width: 1101px) and (max-width: 1400px) {
  body{
      background-color: green;
  } 
}
/* ---------- XXL ----------  */
@media screen and (min-width: 1401px) {
  body{
      background-color: rgb(168, 168, 168);
      max-width: 1440px;
      margin: auto;
  }
}
footer container {
  color: #313131;
}
footer container nav {
  padding: 1rem;
}
footer container nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer container nav ul li {
  margin: 0.1rem;
}
footer container nav ul li a {
  text-decoration: none;
  color: #f0f8ff;
}

H1 {
  color: 37;
}

footer {
  background-color: rgb(168, 54, 54);
  height: auto;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url();
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url();
}